
@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700');
body{
    margin: 0%;
}
header{
    background: black;
    color:white;
    padding: 8px 0px 0px 40px;  /*  TRBL */
    height: 35px;
}

header h1{
    display: inline;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 32px;
    /* float: left;
    margin-top: 0px; */
    margin-right: 0px;  
}
nav ul{
    display: inline;
    padding: 0%;
    /* float: left;  */
   
}
nav ul li{
    display: inline-block;
    list-style-type: none;
    color: white;
    margin-left: 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#nav {
    font-family: 'Oxygen', sans-serif;
}

.homered {
   background-color: red;
   padding: 30px 10px 4.3px 10px; 
}

.divider {
    background-color: red;
    height: 5px;
}

.homeblack:hover {
    background-color: rgb(48, 48, 145);
    padding: 30px 10px 2px 10px; 
}

.fwimage1 {
    background-image: url(nature.jpg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.homesub{
    font-family: 'Oxygen', sans-serif;
    margin: 0;
    padding: 9% 5% 0% 55%;
    font-size: 18px;
    color: yellow;
}

.homedes{
    font-family: 'Oxygen', sans-serif;
    margin: 0.5% 0% 0% 55%;
    font-size: 75px;
    color: white;  
    background-color: rgba(0, 0, 0, 0.4);
    display: inline-block;
}
.homepho{
    font-family: 'Oxygen', sans-serif;
    margin: 0% 0% 0% 55%;
    font-size: 64px;
    color: black;
    display: inline-block;  
}
.buttonhome{
    margin: 0% 0% 0% 55%;
    background: yellow;
    color: black;
    border: none;
    height: 50px;
    font-size: 30px;
    padding: 0.1nm;
    cursor: pointer;
    outline: none;
    font-family: 'Oxygen', sans-serif;
    font-weight: 900;
}